<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>High way</title>
    <style>
        .center-flex {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-top: 50vh;
        }
    </style>
</head>
<body>
<div class="center-flex">
    <form action="" method="POST">
        <input type="text" placeholder="https://google.com" name="url" style="width: 50vw"/>
        <input type="submit" value="Go"/>
    </form>
</div>
</body>
</html>